<%- include("header"); -%>
<div class="box" id ="heading">
    <h1 style ="color:rgb(77, 40, 88)">list of <%= listTitle %></h1>
<ul>
</div> 
<div class="box">
<% for(var i =0 ;i<items.length ;i++){%>
    <div class="item">
        <input type="checkbox">
     <p><%=items[i]%></p>
    </div>
 <% }%>   
</ul>
<form action="/" method="POST" >
    <input type="text" name="num1"  required autocomplete="off" placeholder="new task" >
   
    <button type="submit"name="list" value=<%= listTitle%>>+ </button>
    
    </form>

</div>
<%- include("footer"); -%>
